
@{
    ViewData["Title"] = "HTML Forms Example";
}

<h1>HTML Forms Example</h1>

<form>
    <label for="full-name">Full Name</label>
    <input type="text" name="full-name" />
    <span>*</span>
	<br />

</form>